.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
	margin-left : 250;
	margin-right : 100;
}

button {
	background-color : SeaGreen;
	color : white;
}


#map {
        height: 50%;
      }